
.main-content {
    flex: 1;
    padding: 0px 8px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #555555 #121212;
}
.main{
    background-color: #141414;
    height: 100vh;
    border-radius: 10px;

}